*, ::after, ::before {
	box-sizing: border-box;
}

body {
	background-color: #EEE;
	overflow-x: hidden;
}

input[type="button"], input[type="submit"],
input[type="text"] {
   outline: none !important;
}

.wrapper {
	margin-top: 50px;
}

.main-content{
	padding: 25px;
}

.page-head {
	padding: 0px 25px 10px;
	position: relative;
}

.page-head .page-head-title {
	margin-top: 0;
}

.card {
	background-color: #FFF;
	margin-bottom: 25px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .04);
	border-width: 0;
	border-radius: 3px;
	display: block;
	position: relative;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
}

.card-border-color {
	border-top: 3px solid #c9c9c9;
}

.card-border-color-primary {
	border-top-color: #007f7b;
}

.card-header {
	font-size: 18px;
	font-weight: 300;
	padding-top: 1.5384rem;
	background-color: transparent;
}

.card-header:first-child {
	border-radius: calc(3px - 1px) calc(3px - 1px) 0 0;
}

.card-header-divider {
	border-bottom: 1px solid #d9d9d9;
	margin: 0 1.538rem 8px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 1.2307rem;
}

.card-header-divider .card-subtitle {
	margin-top: 0;
	margin-bottom: 0;
}

.card-subtitle {
	display: block;
	font-size: 1.5rem;
	color: #707070;
}

.card-body {
	padding: 8px 20px 20px;
	border-radius: 0 0 3px 3px;
	flex: 1 1 auto;
	text-align: center;
	margin: auto;
	width: 60%;
}

.command-bar {
	padding: 0 25px;
}

.command-bar.affix {
  top: 51px;
  width: 100%;
  z-index: 9999 !important;
  background-color: #eeb211;
  padding: 10px;
}

.command-bar .btn-default {
	background-color: #f8f8f8;
}

.command-bar .btn-default:hover {
	background-color: #f2f2f2;
}

.collapsed-command-bar {
	width: 100%;
	height: 50px;
}

.nav.navbar-nav.command-bar-menu {
	margin: 0;
	background-color: #bbb;
}

.command-bar-menu li a {
	color: #007f7b;
}

.command-bar-menu li a:hover {
	border-left: 5px solid #eeb211;
}

.command-bar-menu {
	border-top: 1px solid #aaa;
}

button.navbar-toggle {
	background-color: #f8f8f8;
}

button.navbar-toggle span {
	background-color: #007f7b;
}

.btn-primary-color {
	background-color: #007f7b
}

.btn-primary-color:hover {
	background-color: #006865;
}

.btn-primary-color:active, .btn-primary-color:focus {
	background-color: #45A19F !important;
	border-color: transparent;
}

.affixed-command-bar.affix {
	z-index: 9999;
	top: 100px;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.collapsed-command-bar {
		background-color: #bbb;
	}

	.collapsed-command-bar.affix {
		z-index: 9999;
	}

	.page-head .page-head-title {
		margin-top: 20px;
	}
}

/*
	Vale cor primária: #007f7b
	Vale cor secundária: #eeb211
*/